@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap');
:root{
  --primary: #1f2e88 ;
  --secondary: #2f66d4 ;
  --hover: #a2d9f5;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --border:.2rem solid rgba(0,0,0,0.1);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: 0.2s linear;
}

html{
  font-size: 62.2%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 5rem;
}

/* global classes */

section{
  padding: 5rem 7%;
}

.heading{
  font-size: 4rem;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: .5rem;
  background: var(--primary);
  font-size: 1.7rem;
  color: var(--white);
  cursor: pointer;
}

.btn:hover{
  background: var(--secondary);
}

/* header */
.header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top:0;
  left: 0;
  right: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1%;
  padding-left: 1%;
  background: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
  
}

.header .logo i{
  color: var(--primary);
  padding-right: .5rem;
  left: 0;
  
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary);
}

.header .btn{
  margin-top: 0;

}

#menu-btn{
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
  color:var(--white);
  margin-left: 1.7rem;
  display: none;
}

#menu-btn:hover{
  color: var(--primary);
}

/* drop button */

.dropbtn {
  color: black;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  border: 1px solid black ;
  border-radius: 50%;
  }
  .dropbtn{
	  font-weight: bold;
  }
  


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e3e9ef;
  border-radius: .5rem;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 8px;
  
  
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background: var(--secondary);
  border-radius: 50%;

}

/*end drop button */


/* end header */


/* home */
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(https://www.cpajournal.com/wp-content/uploads/2019/02/GettyImages-1001713236-730x330.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;
  padding-top: 10rem;
  padding-left: 6rem; /*rtl*/
}

.home .content h3{
  font-size: 6rem;
  color:rgb(29, 15, 220);
  line-height: 1.2;
}

.home .content p{
  line-height: 2;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

/* end home */

/* about us */

.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image{
  flex: 1 1 40rem;
}

.about .row .image img{
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}

.about .row .content{
  flex: 1 1 40rem;
}

.about .row .content h3{
  color: var(--black);
  font-size: 3.5rem;
  line-height: 1.5;
}

.about .row .content p{
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}
/* end about */

/* doctors */
.doctors{
  background: var(--light-bg);
}

.doctors .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  gap: 2rem;
}

.doctors .box-container .box{
  padding: 1rem;
  text-align: center;
  background: rgb(246, 244, 244);
  box-shadow: var(--box-shadow);
  border-radius: 50%;
}

.doctors .box-container .box:hover{
  background: var(--hover);
  cursor: context-menu;
}

.doctors .box-container .box img{
  margin: 1rem 0;
  height: 17rem;
  border-radius: 50%;
  /* border: 1px solid rgb(222, 209, 209);  */
}

.doctors .box-container .box h2{
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

.doctors .box-container .box h3{
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.doctors .box-container .box p{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
}

/* end doctors section */

/*  department  */

.department{
  background: var(--light-bg);
}

.department .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  gap: 2rem;
}

.department .box-container .box{
  padding: 1rem;
  text-align: center;
  background: rgb(246, 244, 244);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
}

.department .box-container .box:hover{
  background: var(--hover);
  cursor: context-menu;
}

.department .box-container .box img{
  margin: 1rem 0;
  height: 17rem;
  width: 20rem;
  border-radius: 50%;
  border: 1px solid rgb(222, 209, 209);
}

.department .box-container .box h2{
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

/* end department section */

/* contact */
.contact{
  background: var(--light-bg);
}

.contact form{
  padding: 2rem;
  background: var(--white);
  max-width: 50rem;
  margin: 0 auto;
  border-radius: .5rem;
}

.contact form span{
  font-size: 1.7rem;
  color: var(--primary);
}

.contact form .input-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .input-box input{
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  background: var(--light-bg);
  border-radius: .5rem;
  width: 49%;
}

.contact form .box{
  margin: 1rem 0;
  width: 100%;
  background: var(--light-bg);
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}

/* end contact */

/* footer */
.footer{
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--secondary);
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
  padding: .5rem 0;
}

.footer .box-container .box .share{
  margin-top: 1rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  background: var(--primary);
  color: var(--white);
  border-radius: 10%;
  line-height: 4.5rem;
  font-size: 1.7rem;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: var(--secondary);
}

.footer .box-container .box .link{
  display: block;
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary);
  padding: .5rem 0;
}

.footer .box-container .box .link:hover{
  color: var(--hover);
}

.footer .credit{
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary);
  border-top: .1rem solid var(--secondary);
}

.footer .credit i{
  color: var(--hover);
}

.footer .credit span{
  color: var(--secondary);
}

/* end footer */

/* media queries */
